<main class="main">
    <div class="page-header text-center" style="background-image: url('/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">Orders</h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->

    <div class="page-content">
        <div class="container">
            <table class="table table-wishlist table-mobile">
                <thead>
                    <tr>
                        <th class="col-3 text-center">Order</th>
                        <th class="col-3 text-center">Date</th>
                        <th class="col-2 text-center">Total Amount</th>
                        <th class="col-1 text-center">Status</th>
                        <th class="col-1 text-center">Payment</th>

                    </tr>
                </thead>

                <tbody>
                    {{#each orderList}}
                    <tr>
                        <td class="product-col text-center">#order{{this.orderDetails._id}}</td>
                        <td class="price-col text-center">{{this.orderDetails.date}}</td>

                        <td class="price-col text-center">₹{{this.orderDetails.totalAmount}}</td>
                        <td class="stock-col text-center {{statusColor this.orderDetails.status}}"
                            id="orderStatus{{this.orderDetails._id}}">{{this.orderDetails.status}}</td>
                        <td class="remove-col text-center ">{{this.orderDetails.paymentMethod}}</td>
                        <td class="action-col">
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                style="border-radius: 20px;"
                                data-target=".bd-example-modal-lg{{this.orderDetails._id}}">View more</button>
                        </td>
                    </tr>
                    <div class="modal fade bd-example-modal-lg{{this.orderDetails._id}}" tabindex="-1" role="dialog"
                        aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" style="max-width: 800px;">
                            <div class="modal-content">
                                <div class="modal-header ">

                                    <h5 class="modal-title d-flex justify-content-center align-items-center"
                                        id="exampleModalLongTitle">Order Details</h5>

                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="card-body p-0">
                                    <div class="card shadow-0 border mb-4">
                                        <div class="card-body p-3">
                                            <div class="row">
                                                <div
                                                    class="col-md-3 text-center d-flex justify-content-center align-items-center mb-2">
                                                    Product Image
                                                </div>
                                                <div
                                                    class="col-md-3 text-center d-flex justify-content-center align-items-center mb-2">
                                                    Product Name
                                                </div>
                                                <div
                                                    class="col-md-3 text-center d-flex justify-content-center align-items-center mb-2">
                                                    Quantity
                                                </div>
                                                <div
                                                    class="col-md-3 text-center d-flex justify-content-center align-items-center mb-2">
                                                    Price
                                                </div>
                                            </div>
                                            {{#each this.productList}}
                                            <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">
                                            <div class="row">
                                                <div
                                                    class="col-md-3 text-center d-flex justify-content-center align-items-center ">
                                                    <img src="/images/ekart/products/{{this.product.image.[0]}}"
                                                        class="img-fluid" width="80px" alt="Phone">
                                                </div>

                                                <div
                                                    class="col-md-3 text-center d-flex justify-content-center align-items-center">
                                                    <p class="text-muted mb-0">{{this.product.productName}}</p>
                                                </div>
                                                <div
                                                    class="col-md-3 text-center d-flex justify-content-center align-items-center">
                                                    <p class="text-muted mb-0 small">{{this.quantity}}</p>
                                                </div>
                                                <div
                                                    class="col-md-3 text-center d-flex justify-content-center align-items-center">
                                                    <p class="text-muted mb-0 small">₹{{calculateDiscount this.discount this.product.price}}</p>
                                                </div>


                                            </div>

                                            {{/each}}

                                        </div>
                                    </div>
                                    <div class="ml-5">

                                        <div class="d-flex justify-content-between pt-2">
                                            <p class="fw-bold mb-0">Order Details</p>
                                            <p class="col-2 text-muted mb-0"></p>
                                        </div>


                                        <div class="d-flex justify-content-between">
                                            <p class="text-muted mb-0">Purchase Date : {{this.orderDetails.date}}
                                            </p>
                                            <p class="col-2 text-muted mb-0"></p>
                                        </div>
                                        <p>Delivery Address:
                                            {{this.orderDetails.address.houseName}},{{this.orderDetails.address.streetAdress}}
                                        </p>

                                        <p> <span></span>
                                            {{this.orderDetails.address.city}},{{this.orderDetails.address.state}}
                                        </p>
                                        <p> <span></span>
                                            Pincode:{{this.orderDetails.address.pincode}},Phone:{{this.orderDetails.phoneNumber}}
                                        </p>

                                    </div>
                                </div>
                                <div class="text-center">
                                    {{#ifEquals this.orderDetails.status 'cancelled' false}}
                                    <button href="#" class="btn btn-danger text-white rounded-pill"
                                        id="cancelOrder{{../this.orderDetails._id}}" disabled>Cancel order</button>
                                    {{/ifEquals}}
                                    {{#ifEquals this.orderDetails.status 'delivered' false}}
                                    <button type="button" class="btn btn-danger text-white rounded-pill"
                                        data-toggle="modal" onclick="hideModal('{{../this.orderDetails._id}}')"
                                        data-target="#Order{{../this.orderDetails._id}}">
                                        Return Order
                                    </button>
                                    {{/ifEquals}}
                                    {{#ifEquals this.orderDetails.status 'placed' true}}
                                    <button href="#" class="btn btn-danger text-white rounded-pill"
                                        id="cancelOrder{{../this.orderDetails._id}}"
                                        onclick="cancelOrder('{{../this.orderDetails._id}}')">Cancel Order</button>
                                    {{/ifEquals}}
                                </div>
                            </div>
                            <div class="card-footer border-0 px-4 py-5"
                                style="padding-bottom: 122px !important;background-color: #ffffff;border-bottom-left-radius: 10px;border-bottom-right-radius: 12px;">
                                <h3
                                    class="d-flex align-items-center justify-content-end text-black text-uppercase mb-0">
                                    Total Amount
                                </h3>
                                {{#if this.orderDetails.coupon}}
                                <h4 style="float: right;margin: 0px !important;color: greenyellow;">Discount : {{this.orderDetails.coupon.discount}}%</h4><br><br>
                                {{else}}
                                <h4 style="float: right;margin: 0px !important;color: greenyellow;">Discount : 0%</h4><br><br>
                                {{/if}}
                                <h2 class="float-right"> ₹{{this.orderDetails.totalAmount}}
                                </h2>

                            </div>


                        </div>
                    </div>
        </div>

        {{/each}}
        </tr>
        <!-- Large modal -->
        </tbody>
        </table><!-- End .table table-wishlist -->
    </div><!-- End .container -->
    </div><!-- End .page-content -->
</main><!-- End .main -->

<!-- Button trigger modal -->
{{#each orderList}}
<!-- return request modal -->
<div class="modal fade" id="Order{{this.orderDetails._id}}" style=" overflow-y:auto;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Return Request</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span
                        aria-hidden="true">&times;</span> </button>
            </div>
            <div class="modal-body">
                <div class="row">

                    {{#each this.productList}}
                    <div class="col-12">
                        <div class="row d-flex mb-2 justify-content-center">
                            <div class="col-md-3  text-center d-flex justify-content-center align-items-center ">
                                <img src="/images/ekart/products/{{this.product.image.[0]}}" class="img-fluid"
                                    width="100px" alt="Phone">
                            </div>

                            <div class="col-md-3 text-center d-flex justify-content-center align-items-center">
                                <p class="text-muted mb-0">{{this.product.productName}}</p>
                            </div>
                            <div class="col-md-3 text-center d-flex justify-content-center align-items-center">
                                <p class="text-muted mb-0 small">₹{{this.product.price}}</p>
                            </div>

                        </div>
                    </div>
                    {{/each}}
                    <div class=" col-12 text-center">
                        <hr>
                        <h5> <span>Total Amount</span> ₹{{this.orderDetails.totalAmount}}</h5>
                        <hr>
                    </div>
                    <h5 class="text-center col-12" style="padding-right: 50px;">Reason For return</h5><br>
                    <div class=" col-12">
                        <form action="" method="post" id="returnForm{{this.orderDetails._id}}">
                            <div class="col-8 float-right ml-5">
                                <input class="form-check-input" type="radio" name="complaint"
                                    id="flexRadioDefault1{{this.orderDetails._id}}" value=" Any damage on the product">
                                <label class="form-check-label" for="flexRadioDefault1{{this.orderDetails._id}}">
                                    Any damage on the product
                                </label><br>
                                <input class="form-check-input" type="radio" name="complaint"
                                    id="flexRadioDefault2{{this.orderDetails._id}}" value="Packing is not proper"
                                    checked>
                                <label class="form-check-label" for="flexRadioDefault2{{this.orderDetails._id}}">
                                    Packing is not proper
                                </label><br>
                                <input class="form-check-input" type="radio" name="complaint"
                                    value=" Not like the product" id="flexRadioDefault3{{this.orderDetails._id}}"
                                    checked>
                                <label class="form-check-label" for="flexRadioDefault3{{this.orderDetails._id}}">
                                    Not like the product
                                </label><br>
                                <input class="form-check-input" type="radio" name="complaint" value=" Other reasons"
                                    id="flexRadioDefault4{{this.orderDetails._id}}" checked>
                                <label class="form-check-label" for="flexRadioDefault4{{this.orderDetails._id}}">
                                    Other reasons
                                </label><br>
                            </div>
                            <input type="text" name="status" value="return-request" hidden>
                            <input type="text" name="orderId" value="{{this.orderDetails._id}}" hidden>
                            <input type="text" name="date" value="{{this.orderDetails.date}}" hidden>
                    </div>
                    <div class="col-12 container">
                        <div class="form-group m-5">
                            <label for="description" class="col-12">
                                <h6>Description</h6>
                            </label>
                            <textarea class="form-control validate" rows="3" name="description" id="description"
                                onkeyup="validateProductDescription()"></textarea>
                            <span id="productdescription" class="text-danger"></span>
                        </div>
                        <div class="text-center mb-3">
                            <button type="submit" class="btn btn-secondary text-center"
                                onclick="returnOrder('{{this.orderDetails._id}}')">Submit</button>
                        </div>
                    </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- return request modal -->
{{/each}}

<script>
    function hideModal(orderId) {
        alert('order' + orderId)
        $('.bd-example-modal-lg' + orderId).modal('hide')
        $('.bd-example-modal-lg' + orderId).on('hidden.bs.modal', function () {
            // Load up a new modal...
            alert('order' + orderId)
            $('#order', orderId).modal('show')
        })
    }
</script>

<script>
    function cancelOrder(orderId) {
        if (confirm('Are you sure?')) {
            $.ajax({
                url: '/cancel-order/?orderId=' + orderId,
                method: 'get',
                success: (response) => {
                    location.href='/orders'
                }
            })
        }
    }
    function returnOrder(orderId) {
        alert(orderId)
        if (confirm('Are you sure?')) {
            $.ajax({
                url: '/return-order-request/?orderId=' + orderId,
                data: $('#returnForm' + orderId).serialize(),
                method: 'post',
                success: (response) => {
                    location.href = '/orders'
                }
            })
        }
    }
</script>