        <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <div class="container d-flex align-items-center">
                    <!-- <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Products</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Default</li>
                    </ol> -->

                    
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="container">
                    <div class="product-details-top">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="product-gallery product-gallery-vertical">
                                    <div class="row">
                                        <figure class="product-main-image">
                                            <img id="product-zoom" src="/images/ekart/products/{{productDetails.image.[0]}}" data-zoom-image="/images/ekart/products/{{productDetails.image.[0]}}" alt="product image">

                                            <a href="#" id="btn-product-gallery" class="btn-product-gallery">
                                                <i class="icon-arrows"></i>
                                            </a>
                                        </figure><!-- End .product-main-image -->

                                        <div id="product-zoom-gallery" class="product-image-gallery">
                                            <a class="product-gallery-item active" href="#" data-image="/images/ekart/products/{{productDetails.image.[0]}}" data-zoom-image="/images/ekart/products/{{productDetails.image.[0]}}">
                                                <img src="/images/ekart/products/{{productDetails.image.[0]}}" alt="product side">
                                            </a>

                                           <a class="product-gallery-item active" href="#" data-image="/images/ekart/products/{{productDetails.image.[1]}}" data-zoom-image="/images/ekart/products/{{productDetails.image.[1]}}">
                                                <img src="/images/ekart/products/{{productDetails.image.[1]}}" alt="product side">
                                            </a>

                                            <a class="product-gallery-item active" href="#" data-image="/images/ekart/products/{{productDetails.image.[2]}}" data-zoom-image="/images/ekart/products/{{productDetails.image.[2]}}">
                                                <img src="/images/ekart/products/{{productDetails.image.[2]}}" alt="product side">
                                            </a>

                                            <a class="product-gallery-item active" href="#" data-image="/images/ekart/products/{{productDetails.image.[3]}}" data-zoom-image="/images/ekart/products/{{productDetails.image.[3]}}">
                                                <img src="/images/ekart/products/{{productDetails.image.[3]}}" alt="product side">
                                            </a>
                                        </div><!-- End .product-image-gallery -->
                                    </div><!-- End .row -->
                                </div><!-- End .product-gallery -->
                            </div><!-- End .col-md-6 -->

                            <div class="col-md-6">
                                <div class="product-details">
                                    <h1 class="product-title">{{productDetails.productName}}</h1><!-- End .product-title -->

                                    <div class="ratings-container">
                                        <div class="ratings">
                                            <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                        </div><!-- End .ratings -->
                                        <a class="ratings-text" href="#product-review-link" id="review-link">( 2 Reviews )</a>
                                    </div><!-- End .rating-container -->

                                    <div class="product-price">
                                        {{#productCategoryDiscount productDetails.discount brands productDetails.brand}}       
                                        <span class="new-price"style="color: #ef837b;"><span style="color: red;"> ₹{{calculateDiscount (parser discount) ../productDetails.price}}</span><strike style="color: #ef837b;"> ₹{{../productDetails.price}}</strike><b style="font-size: 16px;color: green;">{{discount}}%off</b> </span>
                                        {{else}}
                                        <span class="new-price" style="color: red;">₹{{../productDetails.price}}</span>
                                        {{/productCategoryDiscount}}
                                        {{!-- {{#if (parser productDetails.discount)}}       
                                        <span ><span > ₹{{calculateDiscount productDetails.discount productDetails.price}}</span><strike> ₹{{productDetails.price}}</strike><b style="font-size: 16px;color: green;">{{productDetails.discount}}%off</b> <br> </span>
                                        {{else}}
                                        <span >₹{{productDetails.price}}</span>
                                        {{/if}} --}}
                                       
                                    </div><!-- End .product-price -->

                                    <div class="product-content">
                                        <p>{{productDetails.description}}</p>
                                    </div><!-- End .product-content -->

                                    <div class="details-filter-row details-row-size">
                                        <label>Color:</label>

                                        <div class="product-nav product-nav-thumbs">
                                            <a href="#" style="height:20px;width:20px;background-color: silver;border-radius:20px;"></a>
                                            <a href="#" style="height:20px;width:20px;background-color: black;border-radius:20px;"></a>
                                            <a href="#" style="height:20px;width:20px;background-color: #B76E79;border-radius:20px;"></a>
                                            <a href="#" style="height:20px;width:20px;background-color: #0000FF;border-radius:20px;"></a>
                                        </div><!-- End .product-nav -->
                                    </div><!-- End .details-filter-row -->

                                    
<!-- -------------------------------------------------------QTY with Value Increment------------------------------------------------------------- -->
                                    <!-- <div class="details-filter-row details-row-size">
                                        <label for="qty">Qty:</label>
                                        <div class="product-details-quantity">
                                            <input type="number" id="qty" class="form-control" value="1" min="1" max="10" step="1" data-decimals="0" required>
                                        </div>
                                    </div> -->
<!-- -------------------------------------------------------QTY with Value Increment------------------------------------------------------------- -->
                                    <div class="product-details-action">
                                        <a onclick="addToCart('{{productDetails._id}}')" style="cursor: pointer;" class="btn-product btn-cart" ><span>add to cart</span></a>

                                        <div class="details-action-wrapper">
                                            <a onclick="addToWishlist('{{productDetails._id}}')" style="cursor: pointer;" class="btn-product btn-wishlist" title="Wishlist"><span>Add to Wishlist</span></a>
                                            
                                        </div><!-- End .details-action-wrapper -->
                                    </div><!-- End .product-details-action -->

                                    <div class="product-details-footer">
                                        <div class="product-cat">
                                            <span>Category:</span>
                                            <a href="#">Laptop</a>
                                        </div><!-- End .product-cat -->
                                    </div><!-- End .product-details-footer -->
                                </div><!-- End .product-details -->
                            </div><!-- End .col-md-6 -->
                        </div><!-- End .row -->
                    </div><!-- End .product-details-top -->

                    <div class="product-details-tab">
                        <ul class="nav nav-pills justify-content-center" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="product-desc-link" data-toggle="tab" href="#product-desc-tab" role="tab" aria-controls="product-desc-tab" aria-selected="true">Description</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="product-info-link" data-toggle="tab" href="#product-info-tab" role="tab" aria-controls="product-info-tab" aria-selected="false">Additional information</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="product-desc-tab" role="tabpanel" aria-labelledby="product-desc-link">
                                <div class="product-desc-content">
                                    <h3>Product Information</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis. Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. </p>
                                    <ul>
                                        <li>Nunc nec porttitor turpis. In eu risus enim. In vitae mollis elit. </li>
                                        <li>Vivamus finibus vel mauris ut vehicula.</li>
                                        <li>Nullam a magna porttitor, dictum risus nec, faucibus sapien.</li>
                                    </ul>

                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis. Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. </p>
                                </div><!-- End .product-desc-content -->
                            </div><!-- .End .tab-pane -->
                            <div class="tab-pane fade" id="product-info-tab" role="tabpanel" aria-labelledby="product-info-link">
                                <div class="product-desc-content">
                                    <h3>Information</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. </p>

                                    <h3>Fabric & care</h3>
                                    <ul>
                                        <li>Faux suede fabric</li>
                                        <li>Gold tone metal hoop handles.</li>
                                        <li>RI branding</li>
                                        <li>Snake print trim interior </li>
                                        <li>Adjustable cross body strap</li>
                                        <li> Height: 31cm; Width: 32cm; Depth: 12cm; Handle Drop: 61cm</li>
                                    </ul>

                                    <h3>Size</h3>
                                    <p>one size</p>
                                </div><!-- End .product-desc-content -->
                            </div><!-- .End .tab-pane -->
                            
                            
                        </div><!-- End .tab-content -->
                    </div><!-- End .product-details-tab -->

                        

                        
                    </div><!-- End .owl-carousel -->
                </div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->    
</body>


<!-- molla/product.html  22 Nov 2019 09:55:05 GMT -->
</html>
 <script src="/js/userLogin/indexPage.js"></script>